<!-- /templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="custom-body">
    <!-- /templates/base.html -->
    <nav class="navbar navbar-expand-lg custom-navbar">
        <a class="navbar-brand" href="https://redbubblehelper.com">Redbubble Helper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://redbubblehelper.com">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://redbubblehelper.com/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://redbubblehelper.com/features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://redbubblehelper.com/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://redbubblehelper.com/faqs">FAQs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center p-3 custom-footer">
      © 2023 Redbubble Helper: <a class="text-light" href="mailto:anthonyrodriguez726@gmail.com">Contact Us</a>
    </footer>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
