{% extends 'base.html' %}
{% block title %}Features{% endblock %}
{% block content %}
<div class="features-container">
   <div class="features-header">
      <h1 class="text-center">
         Free Features
      </h1>
      <p class="text-center">
         Explore the unique features that make Redbubble Helper an essential tool for artists and designers.
      </p>
   </div>
   <div class="features-grid">
      <div class="feature">
         <lord-icon
             src="https://cdn.lordicon.com/rehjpyyh.json"
             target=".feature"
             trigger="hover"
             colors="primary:#dbdbdb,secondary:#08a88a"
             style="width:100px;height:100px">
         </lord-icon>
         <h2>
            Design Generation
         </h2>
         <p>
            Automatically generate high quality designs.
         </p>
      </div>
      <div class="feature">
         <lord-icon
             src="https://cdn.lordicon.com/abwrkdvl.json"
             target=".feature"
             trigger="hover"
             colors="primary:#dbdbdb,secondary:#08a88a"
             style="width:100px;height:100px">
         </lord-icon>
         <h2>
            Niche Research
         </h2>
         <p>
            Identify niches that aren't over-saturated.
         </p>
      </div>
      <div class="feature">
         <lord-icon
             src="https://cdn.lordicon.com/ghhwiltn.json"
             target=".feature"
             trigger="hover"
             colors="primary:#dbdbdb,secondary:#08a88a"
             style="width:100px;height:100px">
         </lord-icon>
         <h2>
            Prompt Assistance
         </h2>
         <p>
            Create expert design prompts.
         </p>
      </div>
      <div class="feature">
         <lord-icon
             src="https://cdn.lordicon.com/wzrwaorf.json"
             target=".feature"
             trigger="hover"
             colors="primary:#dbdbdb,secondary:#08a88a"
             style="width:100px;height:100px">
         </lord-icon>
         <h2>
            Design Suggestions
         </h2>
         <p>
            Get suggestions based on current popular media such as Movies, TV Shows, Anime, Books, Video Games, etc.
         </p>
      </div>
      <div class="feature">
         <lord-icon
             src="https://cdn.lordicon.com/piwupaqb.json"
             target=".feature"
             trigger="hover"
             colors="primary:#dbdbdb,secondary:#08a88a"
             style="width:100px;height:100px">
         </lord-icon>
         <h2>
            SEO Assistance
         </h2>
         <p>
            Automatically write titles, descriptions, and tags to improve SEO.
         </p>
      </div>
      <div class="feature">
         <lord-icon
             src="https://cdn.lordicon.com/vlycxjwx.json"
             target=".feature"
             trigger="hover"
             colors="primary:#dbdbdb,secondary:#08a88a"
             style="width:100px;height:100px">
         </lord-icon>
         <h2>
            More free features coming soon!
         </h2>
      </div>
   </div>
   <div class="features-header">
      <h1 class="text-center">
         Premium Features
      </h1>
      <p class="text-center">
         Unlock the full potential of Redbubble Helper with our premium features designed for professionals.
      </p>
   </div>
   <div class="features-grid premium-features-grid">
      <div class="feature premium-feature">
         <lord-icon
             src="https://cdn.lordicon.com/uecgmesg.json"
             target=".feature"
             trigger="hover"
             colors="primary:#dbdbdb,secondary:#ffd700"
             style="width:100px;height:100px">
         </lord-icon>
         <h2>
            Background Removal
         </h2>
         <p>
            Upload any image to remove the background. (This gives the image a transparent background which is ideal for designs placed on products)
         </p>
      </div>
      <div class="feature premium-feature">
         <lord-icon
             src="https://cdn.lordicon.com/vlycxjwx.json"
             target=".feature"
             trigger="hover"
             colors="primary:#dbdbdb,secondary:#ffd700"
             style="width:100px;height:100px">
         </lord-icon>
         <h2>
            More premium features coming soon!
         </h2>
         <p>
         </p>
      </div>
   </div>
</div>
{% endblock %}